spring:
  application:
    name: architecture-study

  # database
  datasource:
    url: jdbc:postgresql://localhost:5432/architecture_study
    username: mirero
    password: rlawlstn
    driver-class-name: org.postgresql.Driver

  # jpa
  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true

        # batch size 설정
        default_batch_fetch_size: 100
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

    show-sql: true

# swagger
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha

# logging
logging:
  level:
    root: INFO
