version: '3.8'

services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-app
    ports:
      - '8080:8080'
    env_file:
      - .env
    networks:
      - mirero
    depends_on:
      - postgres

networks:
  mirero:
    external: true
    name: mirero
