spring:
  profiles:
    default: local

  datasource:
    url: jdbc:postgresql://localhost:5433/budget_db
    username: budget
    password: budget1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    open-in-view: false

  data:
    redis:
      host: localhost
      port: 6379

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

app:
  jwt:
    secret: YnVkZ2V0LWFwaS1zZWNyZXQta2V5LWZvci1qd3QtdG9rZW4tZ2VuZXJhdGlvbi0yMDI2
    access-token-expiry: 1800000    # 30 minutes
    refresh-token-expiry: 604800000 # 7 days

server:
  port: 8080
